*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --laranja-claro-omp: #FBD4BA;
    --roxo-claro-omp: #CECCE7;
    --roxo-omp: #6460A7 ;
    --laranja-omp: #D65F36 ;
    --roxo-escuro-omp: #2A315B ;
    --laranja-escuro-omp: #753E2B;
    --bege-omp: #F4F3EE;
    --cinza-omp: #515151;
}

/* Fonts */
@font-face {
    font-family: 'Dosis';
    src: url(fonts/Dosis-VariableFont_wght.ttf);
    font-weight: 100 900;
}

@font-face {
    font-family: 'Inter';
    src: url(fonts/Inter-VariableFont_opsz\,wght.ttf);
    font-weight: 100 900;
}

/* Font size */

h1, h2, h3, a{
    font-family: 'Dosis';
    font-size: 1.5em;
    font-weight: 600;
    text-decoration-line: none;
}

h2 {
    font-size: 2.25em;
    color: var(--roxo-omp);
}

p {
    font-family: 'Inter';
}

.container-grid {
    max-width: 1620px;
    width: 80vw;
    margin: 0 auto;
}


/* Header */
/* .header {
    height: 149px;
    width: 100%;

    display: flex;
    align-items: center;

    background-color: var(--bege-omp);
}

#icon-logo {
}

#icon-logo-compact {
    display: none;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-closed {
    display: none;
}

#icon-bars {
    display: none;
}

.menu-button {
    display: none;
}

.header-nav {
    display: flex;
    justify-content: space-between;
}

.header-nav-lista{
    // Preciso calcular em porcentagem
    width: 539px;

    display: flex;
    justify-content: space-between;
    gap: 24px;
    list-style-type: none;
}

.header a {
    color: var(--cinza-omp);
}

.header .container-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-icons {
    display: flex;
    gap: 24px;
}

.header .login-icons a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

#icon-bars {
    width: 36px;
    height: 36px;
}

#icon-x {
    width: 36px;
    height: 48px;
} */

main {
    width: 100%;
}

/* Slider Principal */

main .slider { 
    margin: 48px auto;
}

.slider {
    width: 100%;
    max-width: 1620px;
    margin: auto;
    position: relative;
    height: 680px;
    overflow: hidden;

    border-radius: 65px;
    border: solid 1px var(--laranja-omp);
}

.list { 
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    /* width: max-content; */
    transition: 1s;
}

.list img {
    width: 1620px;
    max-width: 100vw;
    height: 100%;

    object-fit: cover;
    border-radius: 65px;  
}

.item {
    width: 100%;
}

.buttons {
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.buttons button {
    width: 50px;
    height: 50px;
    border: none;
    background: none;
}

.assinatura-omp {
    height: 41px;

    background-color: var(--laranja-claro-omp);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.assinatura-omp a{
    color: var(--laranja-escuro-omp);
}

.categorias-pets {
    padding: 132px 0;

    display: flex;
    flex-direction: column;
    gap: 48px;
}

.categoria-dog, .categoria-cat {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 16px;
}

.dog, .cat {
    min-width: 325px;
    width: 25%;
    height: 266px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    background-color: var(--roxo-claro-omp);
    border: 1px solid var(--roxo-omp);
    border-radius: 65px;

    padding: 24px;
}

.dog img, .cat img {
    width: 80%;
    height: 80%;
}

.dog h2 {
    color: var(--roxo-escuro-omp);
}

.cat h2 {
    color: var(--laranja-escuro-omp);
}


.produtos-lista {
    padding: 32px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    /* H3 Color*/
    color: var(--roxo-omp);
    border: 1px solid var(--roxo-omp);
    border-radius: 65px;
}

.produtos-lista a h3 {
    font-size: 0.833333em;
    color: var(--roxo-omp);
}

.produto {
    display: flex;

    flex-direction: column;
    align-items: center;
}

.prod-img{
    width: 205px;
    height: 146px;

    background-color: var(--roxo-claro-omp);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-prod {
    width: 8rem;
    height: 10rem;
    object-fit: contain;
    mix-blend-mode: darken;
}
/* 
.categoria-dog .produto {
    border: 1px solid var(--roxo-omp);
} */

.confirm-button{
    width: 205px;
    height: 70px;
    background: var(--roxo-omp);
    color: white;
    border-radius: 78px;
    border: none;

    cursor: pointer;
    
    font-family: 'Dosis';
    font-weight: 600;
    font-size: 1.5em;
    
    transition: ease-in-out 300ms;
}

.confirm-button:hover {
    background-color: var(--Paleta-de-Cores-Laranja-Claro, #fbd4ba);
    color: var(--Paleta-de-Cores-Laranja-OMP, #d65f36);

}

.confirm-button:hover svg {
    /* Precisa que esteja em "currentColor" para eu alterar a cor com fill no CSS */
    fill: #d65f36;
}

.cat {
    background-color: var(--laranja-claro-omp);
    border: 1px solid var(--laranja-omp);

    color: var(--laranja-escuro-omp);
}

.categoria-cat .produtos-lista{
    border: 1px solid var(--laranja-omp);
}

.categoria-cat .produtos-lista h3{
    color: var(--laranja-escuro-omp);
}

.categoria-cat .prod-img {
    background-color: var(--laranja-claro-omp);
}

.categoria-cat button {
    background-color: var(--laranja-omp);
}


.servicos {
    width: 100%;
    padding: 48px 0;

    background-color: var(--bege-omp);
    color: var(--roxo-omp);

    position: relative;
}

.servicos h2 {
    text-align: center;
    margin-bottom: 12px;
}


.container-serv {
    width: 100%;
    display: flex;

    justify-content: space-between;

    gap: 24px;
}

.container-serv h3 {
    font-size: 1.3333333em;
}

.servicos {
    margin-bottom: 132px;
}

.servicos span {
    display: grid;
    gap: 24px;
}

.serv1, .serv4 {
    width: 523px;
    height: 524px;

    overflow: hidden;
    position: relative;
}

.serv2, .serv3 {
    width: 526px;
    height: 250px;

    overflow: hidden;
    position: relative;
}

.serv1, .serv2 {
    background-color: var(--laranja-claro-omp);
    border: solid 1px var(--laranja-omp);
    border-radius: 65px;
    color: var(--laranja-escuro-omp);
}

.serv3, .serv4 {
    border: solid 1px var(--roxo-omp);
    border-radius: 65px;
    color: var(--roxo-escuro-omp);
    background-color: var(--roxo-claro-omp);
}


.serv1 img, .serv2 img,.serv3 img,.serv4 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.intro {
    width: 100%;
    
    position: absolute;
    background-color: var(--laranja-claro-omp);
    color: var(--laranja-escuro-omp);

    padding: 6px;
    bottom: 0px;
    text-align: center;
}

.serv3 .intro, .serv4 .intro {
    background-color: var(--roxo-claro-omp);
    color: var(--roxo-escuro-omp);
}  

.bolinhas {
    width: 370px;
    height: 480px;
    background-image: url(images/elements/bolinha.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: -100px;
    left: 0;
}

.servicos .bolinhas:nth-child(1) {
    transform: rotate(0.5turn);
    right: 0;
    top: 310px;
    left: unset;
}

.adocao {
    display: flex;

    flex-direction: column;
    align-items: center;

    margin-bottom: 132px;
}

.adocao h2 {
    margin-bottom: 12px;
}

.container-carrossel {
    width: 100%;
}

.container-carrossel .slider {
    width: unset;
    height: 469px;
}

.slider-1 {
    width: 100%;
    height: 100%;

    background-color: var(--laranja-claro-omp);
    border: solid 1px var(--laranja-omp);
    border-radius: 65px;
    
    padding: 32px 64px;

    display: flex;
    justify-content:space-between;
    align-items: center;
}

.slider-1 img {
    width: 44%;
}

.slider-1 h3 {
    width: 38%;
    font-size: 3em;
    color: var(--laranja-escuro-omp);
}

.contato {
    width: 100%;
    margin: 132px 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contato h2 {
    margin-bottom: 12px;
}

.contato button{
    width: auto;
    padding: 4px 64px;
    background-color: var(--laranja-omp);

    display: flex;
    align-items: center;
    gap: 8px;
}

.cotato button:hover {
    background-color: var(--Paleta-de-Cores-Laranja-Claro, #fbd4ba);
    color: var(--Paleta-de-Cores-Laranja-OMP, #d65f36);
}

.bolinhas:nth-child(1) {
    width: 100%;

    background-color: var(--bege-omp);
}
/* 
.footer-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
    padding: 48px 0;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    gap: 24px;
}

.container-link h2, .formas-pagamento h2, .redes-sociais h2{
    font-size: 1.5em;
    margin-bottom: 12px;
}

.links a {
    font-weight: 500;
    font-size: 1.25em;

    text-decoration: none;
    color: var(--cinza-omp);
}

.formas-pagamento, .redes-sociais {
    display: flex;
    flex-direction: column;
}

.pg-icones, .social-icones {
    display: flex;

    justify-content: flex-start;
    gap: 12px;
}

.footer p {
    text-align: center;
    font-weight: 600;
    color: var(--cinza-omp);
} */

@media screen and (max-width: 1700px){ 
    .produtos-lista {
        flex-wrap: wrap;
        width: 50%;
    }
}   

@media screen and (max-width: 1650px){ 
    .slider {
        width: 80%;
        min-height: 450px;
        height: 80%;
    }
} 

@media screen and (max-width: 1350px){
    /* .header {
        height: 50px;
    }

    #icon-logo-compact {
        display: inline;
    }

    #icon-logo {
        display: none;
    }

    .menu-button {
        display: inline;
    }

    .header .container-grid {
        justify-content: space-between;
    }

    .menu {
        flex-direction: column;
        justify-content: center;
         
        width: 425px;
        height: calc(100vh - 50px);

        background-color: var(--bege-omp);

        position: absolute;
        z-index: 50;
        top: 50px;
        right: 0;

        padding: 24px 16px;
    }

    .header-links {
        width: 80%;
        flex-direction: column;
        gap: 62px;

        border: solid 2px var(--laranja-omp);
        border-radius: 35px;

        padding: 48px 0;
    }
    
    .header-nav-lista {
        flex-direction: column;
        align-items: center;
        gap: 48px;
    }

    .login-icons {
       flex-direction: column;
       align-items: center;
    } */

    .categoria-cat, .categoria-dog {
        flex-direction: column;
    }
}

@media screen and (max-width: 1250px){ 
    .produtos-lista {
        width: 70%;
    }
} 


@media screen and (max-width: 1024px) {
    .categoria-cat, .categoria-dog {
        flex-direction: column;
    }

    /* .footer-links {
        flex-direction: column;
        gap: 32px;
    }

    .redes-sociais {
        order: -2;
    }
    
    .formas-pagamento {
        order: -1;
    } */
}

@media screen and (max-width: 850px) {
    .cat, .dog {
        width: 100%;
        min-width: unset;
        height: 150px;
        justify-content: space-around;
    }

    .cat img, .dog img {
        width: auto;
        height: 100%;
    }

}

@media screen and (max-width: 500px) {
    .menu {
        width: 100%;
    }

    .container-serv {
        flex-direction: column;
    }

    .redes-sociais, .social-icones, .formas-pagamento, .pg-icones {
        width: 100%;
        justify-content: space-between;
        gap: unset;
    }
    
    /* .footer p {
        text-align: left;
    } */
}

@media screen and (max-width: 320px) {
    .cat, .dog {
        padding: 8px;
        height: 80%;
    }
    
    .cat h2, .dog h2 {
        
        font-size: 1.5rem;
    }

    .cat img, .dog img {
        height: 80%;
        width: 30%;
    }
}