*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --laranja-claro-omp: #FBD4BA;
    --roxo-claro-omp: #CECCE7;
    --roxo-omp: #6460A7 ;
    --laranja-omp: #D65F36 ;
    --roxo-escuro-omp: #2A315B ;
    --laranja-escuro-omp: #753E2B;
    --bege-omp: #F4F3EE;
    --cinza-omp: #515151;
}

/* Fonts */
@font-face {
    font-family: 'Dosis';
    src: url(fonts/Dosis-VariableFont_wght.ttf);
    font-weight: 100 900;
}

@font-face {
    font-family: 'Inter';
    src: url(fonts/Inter-VariableFont_opsz\,wght.ttf);
    font-weight: 100 900;
}

/**/

h1, h2, h3, a{
    font-family: 'Dosis';
    font-size: 1.5em;
    font-weight: 600;
    text-decoration-line: none;
}

h2 {
    font-size: 2.25em;
}

h3 {
    font-size: 1.25em;
}

header {
    height: 149px;
    width: 100vw;

    display: flex;
    align-items: center;

    background-color: var(--bege-omp);
}

.container-grid {
    max-width: 1620px;
    width: 80vw;
    margin: 0 auto;
}

header nav {
    /* Preciso calcular em porcentagem*/
    width: 539px;

    display: flex;
    justify-content: space-between;
    gap: 24px;
}

header a {
    color: var(--cinza-omp);
}

header .container-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .login-icons {
    width: 25%;

    display: flex;
    justify-content: flex-end;
    gap: 24px;
}

header .login-icons a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}


/* Slider Principal */

main .slider { 
    padding: 48px 0;
}

.list img {
    width: 1620px;
    height: 584px;

    border: solid 1px var(--laranja-omp);
    object-fit: cover;
    border-radius: 65px;
}

.assinatura-omp {
    height: 41px;

    background-color: var(--laranja-claro-omp);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.assinatura-omp a{
    color: var(--laranja-escuro-omp);
}

.categorias-pets {
    padding: 132px 0;

    display: flex;
    flex-direction: column;
    gap: 48px;
}

.categoria-dog, .categoria-cat {
    display: flex;

    justify-content: center;
}

.dog {
    width: 394px;
    height: 266px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

    background-color: var(--roxo-claro-omp);
    border: 1px solid var(--roxo-omp);
    border-radius: 65px;

    color: var(--roxo-escuro-omp);

    padding: 34px;
}

.produtos-lista {
    width: 1210px;
    
    padding: 32px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    /* H3 Color*/
    color: var(--roxo-omp);
}

.produto {
    display: flex;

    flex-direction: column;
    align-items: center;
}

.produto img{
    width: 205px;
    height: 146px;

    background-color: var(--roxo-claro-omp);
    border-radius: 20px;
}

button {
    width: 205px;
    height: 70px;
    background: var(--roxo-omp);
    color: white;
    border-radius: 78px;
    border: none;

    cursor: pointer;
    
    font-family: 'Dosis';
    font-weight: 600;
    font-size: 1.5em;
    
    transition: ease-in-out 300ms;
}

.cat {
    width: 394px;
    height: 266px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

    background-color: var(--laranja-claro-omp);
    border: 1px solid var(--laranja-omp);
    border-radius: 65px;

    color: var(--laranja-escuro-omp);

    padding: 34px;
}

.categoria-cat .produtos-lista{
    color: var(--laranja-escuro-omp);
}

.categoria-cat .produto img {
    background-color: var(--laranja-claro-omp);
}

.categoria-cat button {
    background-color: var(--laranja-omp);
}
