/* Reset CSS */
* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Dosis;
}

:root {
    --laranja-claro-omp: #FBD4BA;
    --roxo-claro-omp: #CECCE7;
    --roxo-omp: #6460A7 ;
    --laranja-omp: #D65F36 ;
    --roxo-escuro-omp: #2A315B ;
    --laranja-escuro-omp: #753E2B;
    --bege-omp: #F4F3EE;
}

html {
    scroll-behavior: smooth;
}

#contato{
    margin: 132px 0
    ;
    align-items: center;
    display: flex;
    width: 100%;
    flex-direction: column;
}

#contato form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 70%;
    max-width: 990px;

    background-color: var(--bege-omp);
    color: black;

    border: none;
    border-radius: 4px;

    font-size: 17px;
    font-family: "Dosis";
    font-weight: 600; /*Bold*/

    /* text-transform: uppercase; */
    transition: background-color 500ms; 

    padding:  48px 0;
}

#contato form button:hover {
    background-color: var(--laranja-omp);
}

.title-contact {
    margin-bottom: 48px;
}

.contato-container1{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.campo {
    min-width: 360px;

    text-align: left;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 30px;
}

.campo-descricao {
    width: 80%;
    height: 37%;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.campo input {
    height: 40px;

    color: black;
    background-color:white;

    border: none;
    border-radius: 20px;

    text-indent: 10px;

    outline: none;
}

.campo-descricao textarea {
    color: var(--laranja-omp);
    background-color: white;

    border: none;
    border-radius: 8px;

    outline: none;

    padding: 20px;

    resize: none;
}

.campo label, .campo-descricao label {
    margin-bottom: 10px;
}

.campo input, .campo-descricao textarea {
    font-family: "Dosis";
    font-size: 17px;
}


.campo input::placeholder,
.campo-descricao textarea::placeholder {
    color:white;
}

.campo input:focus,
.campo-descricao textarea:focus {
    outline: 2px solid var(--laranja-omp);
}


.button-contact {
    height: 40px;
    width: 30%;
    
    background-color: var(--laranja-omp);
    color: white;

    border: none;
    border-radius: 15px;

    font-size: 17px;
    font-family: "Dosis";
    font-weight: 700; /*Bold*/

    text-transform: uppercase;

    cursor: pointer;

    transition: background-color 500ms; 
    
    margin-top: 24px;
}

.button-contact:hover {
    background-color:var(--laranja-escuro-omp);
}


#buttom {
    height: 40px;
    width: 60%;
    padding: 20px;
}

#contato h1{
    text-align: center;
}

