* {  
     margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: "Dosis";
    src: url(font/Dosis-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Inter';
    src: url(font/Inter-VariableFont_wght.ttf);
}

:root {--laranja-claro-omp: #FBD4BA;
    --roxo-claro-omp: #CECCE7;
    --roxo-omp: #6460A7;
    --laranja-omp: #D65F36;
    --roxo-escuro-omp: #2A315B;
    --laranja-escuro-omp: #753E2B;
    --bege-omp: #F4F3EE;}

h1, h2, h3, a { font-family: 'Dosis';
    font-size: 1.5em;
    font-weight: 600;
    text-decoration-line: none;}
    
h2 { font-size: 2.25em;
    color: var(--roxo-omp);}
    
p { font-family: 'Inter';}

header { height: 149px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--bege-omp);}
    
.container-grid { max-width: 1620px;
    width: 80vw;
    margin: 0 auto;}
    
header nav { width: 539px;
    display: flex;
    justify-content: space-between;
    gap: 24px;}
    
header a { color: var(--cinza-omp);}
    
header .container-grid { display: flex;
    justify-content: space-between;
    align-items: center;}
    
header .login-icons { width: 25%;
    display: flex;
    justify-content: flex-end;
    gap: 24px;}
    
header .login-icons a { display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;}
    
main { width: 100%;}

#mais-vendidos { height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;}

#mais-vendidos h2 { font-family: "Dosis";
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 1.5em;}

.fundo-mv { width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    background-color: #CECCE7;
    border-radius: 12px;}

.produto-mv { height: 80%;
    width: 300px;
    background-color: #F4F3EE;
    border-style: solid;
    border-color: #6460A7;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;}

.descricao-mv { height: 38%;
    width: 100%;
    border-top-style: solid;
    border-top-color: #6460A7;}

#ofertas { height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;}

#ofertas h2 { font-family: "Dosis";
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 1.5em;}

.banner { height: 100%;
    width: 90%;
    background-color: #FBD4BA;
    border-radius: 12px;}

#produtos { height: 500vh;
    width: 100%;
    padding: 0 5%;
    margin-top: 5%;}

.lattex { color: #753E2B;}

.principal .search-filter input { 
    width: 80%;
    height: 40px;
    border: solid #D65F36;
    border-radius: 5px 15px 15px 5px;
    padding: 5px 0 5px 10px;
    /* font-family: "Inter"; */
    font-size: 1em;
}

.principal input:focus { outline: none;}

.tipo { display: flex;
    flex-direction: column;
    margin-bottom: 10%;}

.especie { width: 75%;
    height: 60px;
    background-color: #D65F36;
    border-radius: 5px 50px 50px 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;}

.especie h2 { font-size: 1.6em;
    margin-left: 12%;
    color: #2A315B;}

.especie img { height: 75%;
    margin-right: 7%;
    max-width: 25%;}

.tipo button { height: 40px;
    width: 70%;
    background-color: #FBD4BA;
    margin-top: 4%;
    border: none;
    border-radius: 5px 50px 50px 5px;
    font-family: "Dosis";
    font-weight: 600;
    font-size: 1.2em;
    color: #753E2B;}

.textos { width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Dosis";
    margin-top: 2%;
    margin-bottom: 0.5%;
    font-size: 1.5em;}

.principal { width: 100%;
    display: flex;
    flex-direction: row;}

.lateral { width: 15%;}

.ordenar { display: flex;
    flex-direction: row;}

/* .tabela { width: 300px;
    height: 300px;
    background-color: #6460A7;} */


/* Vanessa Byork */

.textos h2 {
    font-size: 1.5rem;
}

aside .search-filter {
    margin: 12px 0;
}

.filter-check, .filter-option {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.filter-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 8px 0;
}

.filter-prod {
    font-family: 'Dosis';
}

.filter-prod summary {
    font-weight: 600;
    font-size: 1.5rem;
}

.search-filter input::placeholder, .search-filter input {
    font-family: 'Inter Tight';
    flex-shrink: 0;
}


.filter-option {
    gap: 8px;
    cursor: pointer;
}

.filter-checkbox {

}

.tabela-produtos {
    width: 75.8125rem;
    height: 152.8125rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: #CECCE7;

    padding: 3.69rem;
}

.produtos-header {
    display: flex;
    justify-content: center;
    gap: 1rem;

    background-color: transparent;
}

.enumarable-list {
    width: 3.5rem;
    height: 3.5rem;
    flex-shrink: 0;
    border-radius: 1.875rem;
    border: 2px solid #6460A7;
    background: #FFF;

    display: flex;
    align-items: center;
    justify-content: center;
}

.enumarable-list p{
    color: #2A315B;
    text-align: center;
    font-family: Dosis;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.produto-lista {
    display: flex;
    justify-content: space-between;
}

.produto-linha {
    display: flex;  
    flex-wrap: wrap;
    width: 100%;
    height: 30%;
    justify-content: space-between;
    align-items: center;
    gap: 72px;
}

.produto {
    width: 18.5625rem;
    height: 22.5625rem;
    flex-shrink: 0;
    padding: 12px;

    border-radius: 1.25rem;
    border: 6px solid #6460A7;
    background: #F4F3EE;

    display: flex;
    justify-content: center;
}

.produto a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px
}

.produto img {
    height: 10.125rem;
    width: auto;
    max-width: 100%;
    object-fit: contain;
    color: transparent;
    mix-blend-mode: darken;
}

.item-description, .pricing {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
}

.produto .title {
    font-size: 0.75rem;
}

.produto .price {
    display: flex;
    justify-content: flex-start;
    
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--laranja-omp);
    /* gap 6*/
    gap: .375rem;
}

.text-xs {
    font-size: .75rem;
    line-height: 1rem;
}

.percentage-disc {
    background-color: var(--laranja-omp);
    color: white;
    border-radius: 12px;
    padding: .25rem;
}

.produto .price-promo {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}

.old-price {
    font-size: 0.75rem;
    line-height: 1.375rem;
    font-weight: 400;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 0.75rem;
    color: rgb(86, 92, 105);
    text-decoration: line-through;
}
