*{   margin: 0;
    padding: 0px;
    box-sizing: border-box;}

    @font-face {
    font-family: "Dosis";
    src: url(font/Dosis-VariableFont_wght.ttf);

    font-family: "Inter";
    src: url(font/Inter-VariableFont_wght.ttf);}

:root {--laranja-claro-omp: #FBD4BA;
    --roxo-claro-omp: #CECCE7;
    --roxo-omp: #6460A7;
    --laranja-omp: #D65F36;
    --roxo-escuro-omp: #2A315B;
    --laranja-escuro-omp: #753E2B;
    --bege-omp: #F4F3EE;}

    h1, h2, h3, a{
        font-family: 'Dosis';
        font-size: 1.5em;
        font-weight: 600;
        text-decoration-line: none;
    }
    
    h2 {
        font-size: 2.25em;
        color: var(--roxo-omp);
    }
    
    p {
        font-family: 'Inter';
    }

    header { height: 149px;
        width: 100%;
        display: flex;
        align-items: center;
        background-color: var(--bege-omp);}
    
    .container-grid { max-width: 1620px;
        width: 80vw;
        margin: 0 auto;}
    
    header nav { width: 539px;
        display: flex;
        justify-content: space-between;
        gap: 24px;}
    
    header a { color: var(--cinza-omp);}
    
    header .container-grid { display: flex;
        justify-content: space-between;
        align-items: center;}
    
    header .login-icons { width: 25%;
        display: flex;
        justify-content: flex-end;
        gap: 24px;}
    
    header .login-icons a { display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8px;}
    
    main { width: 100%;}

#mais-vendidos { height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;}

#mais-vendidos h2 { font-family: "Dosis";
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 1.5em;}

.fundo-mv { width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    background-color: #CECCE7;
    border-radius: 12px;}

.produto-mv { height: 80%;
    width: 200px;
    background-color: #F4F3EE;
    border-style: solid;
    border-color: #6460A7;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;}

.descricao-mv { height: 40%;
    width: 100%;
    border-top-style: solid;
    border-top-color: #6460A7;}

#ofertas { height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;}

#ofertas h2 { font-family: "Dosis";
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 1.5em;}

.banner { height: 100%;
    width: 90%;
    background-color: #FBD4BA;
    border-radius: 12px;}

#produtos { height: 500vh;
    width: 100%;
    padding: 0 5%;
    margin-top: 6%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;}

#produtos h2 { font-family: "Dosis";
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 1.5em;}

.lattex { color: #753E2B;}

.lateral input { border: solid #D65F36;
    border-radius: 5px 15px 15px 5px;
    padding: 5px 0 5px 10px;}

.lateral input:focus { outline: none;}

.especie { width: 15%;
    height: 60px;}