/* Reset CSS */
* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Dosis;
}

:root {
    --laranja-claro-omp: #FBD4BA;
    --roxo-claro-omp: #CECCE7;
    --roxo-omp: #6460A7 ;
    --laranja-omp: #D65F36 ;
    --roxo-escuro-omp: #2A315B ;
    --laranja-escuro-omp: #753E2B;
    --bege-omp: #F4F3EE;
}

html {
    scroll-behavior: smooth;
}

/*para mexer na foto do banner*/
.conteudo-banner {
    text-align: right;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.banner{
        width: 80vw;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin: 0 auto;
        /* justify-content: space-between; */
    
}

/*configuração da fonte*/
.banner p {
    font-size: 30px;
    font-family: "Dosis";
    color: black;
    text-align: left;
    align-items: center;
}


.animais{
    text-align: left;
    background-size: cover;   
    display: flex;
   
    
}

.separador {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.patinhas{
    width: 50%;
    height: 150px;
    background-image: url(imagens/elements/group-paws.svg);
    background-repeat: no-repeat;
    background-position: 10% 0;
    background-size: contain;
}

.container {
    display: flex;
    align-items: center;
}

#sobre {
    
    display: flex;
    flex-direction: column;
    /* padding: 100px 25%; */
    justify-content: space-between;
    text-align: left;
    width: 722px;
    margin: 0 auto
}

#sobre img {
    width: 200px;
    flex-direction: column;
    justify-content: left;
}

h2 {
    font-family: "Dosis";
    font-size: 28px;
    text-align: center;
    margin-bottom: 70px;
    color: var(--roxo-omp);
}

#sobre p {
    font-family: "Inter Tight";
    font-size: 17px;

    text-align: right;

    display: contents;
    line-height: 1.5;
}

.sobre {
    height: 80%;
    width: 100%;
}

h3 {
    font-family: "Dosis";
    font-size: 25px;
    text-align: center;
    
    height: 100%;
    width: 100%;
}

.conteudo-sobre{
    display: flex;
    justify-content: space-between;
}

.texto-sobre{
    width: 50%;
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}


#cases {
    text-align: center;

    padding-bottom: 100px;
    margin-bottom: 100px;
    margin: 20px 0; /* Espaçamento externo */
}

#cases p {
    margin-bottom: 70px;
}

.container-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0; /* Espaçamento externo */
    padding: 137px; /* Espaçamento interno */
    margin: 20px 0; /* Espaçamento externo */
}

/* Para mexer no card 1 */
.card {
    height: 400px;
    width: 250px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 10px;
    margin-bottom: 10px;

    background-color: var(--laranja-claro-omp);


}

.card h2 {
    font-family: "Dosis";
    font-size: 28px;
    text-align: center;
    color: var(--laranja-omp);
}

.card p {
    color: var(black);

    font-family:"Inter Tight";
    font-size: 17px;

    text-align: left;

    padding: 7%;  

}


/* Para mexer no card 2 */

.card-2 {
    height: 400px;
    width: 250px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 20px;
    margin-bottom: 40px;

    background-color: var(--roxo-claro-omp);


}

.card-2 h2 {
    font-family: "Dosis";
    font-size: 28px;
    text-align: center;
    color: var(--roxo-escuro-omp);
}

.card-2 p {
    color: var(black);

    font-family:"Inter Tight";
    font-size: 17px;

    text-align: left;

    padding: 7%;  

}


/* Para mexer no card 3 */

.card-3 {
    height: 400px;
    width: 250px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 20px;
    margin-bottom: 40px;

    background-color: var(--bege-omp);


}

.card-3 h2 {
    font-family: "Dosis";
    font-size: 28px;
    text-align: center;
    color: var(--laranja-escuro-omp);
}

.card-3 p {
    color: var(black);

    font-family:"Inter Tight";
    font-size: 17px;

    text-align: left;

    padding: 7%;  

}

/* Configurando a parte de duvidas */

.dúvidas h2{
    font-family: "Dosis";
    font-size: 28px;
    text-align: center;
    color: var(--roxo-escuro-omp);
}


.faixa img{
    height: 30px;
    width: 30px;
}

.faixa h2{
    font-family: "Dosis";
    font-size: 23px;
    text-align: center;
    color: var(--roxo-omp);
}

.faixa-2 img{
    height: 30px;
    width: 30px;
}

.faixa-2 h2{
    font-family: "Dosis";
    font-size: 23px;
    text-align: center;
    color: var(--roxo-omp);
}

/* Duvidas parte de baixo */

.faixa-3 img{
    height: 30px;
    width: 30px;
}

.faixa-3 h2{
    font-family: "Dosis";
    font-size: 23px;
    text-align: center;
    color: var(--roxo-omp);
}

.faixa-4 img{
    height: 30px;
    width: 30px;
}

.faixa-4 h2{
    font-family: "Dosis";
    font-size: 23px;
    text-align: center;
    color: var(--roxo-omp);
}