/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Dosis;
}

:root {
    --laranja-claro-omp: #FBD4BA;
    --roxo-claro-omp: #CECCE7;
    --roxo-omp: #6460A7;
    --laranja-omp: #D65F36;
    --roxo-escuro-omp: #2A315B;
    --laranja-escuro-omp: #753E2B;
    --bege-omp: #F4F3EE;
}

html {
    scroll-behavior: smooth;
}

.container-grid {
    max-width: 1620px;
    width: 80vw;
    margin: 0 auto;
}

/*para mexer na foto do banner*/
.conteudo-banner {
    text-align: right;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.banner {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 auto;
    /* justify-content: space-between; */

}

/*configuração da fonte*/
.banner p {
    font-size: 30px;
    font-family: "Dosis";
    color: black;
    text-align: left;
    align-items: center;
}


.animais {
    text-align: left;
    background-size: cover;
    display: flex;


}

.separador {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.patinhas {
    width: 50%;
    height: 150px;
    background-image: url(imagens/elements/group-paws.svg);
    background-repeat: no-repeat;
    background-position: 10% 0;
    background-size: contain;
}

.container {
    display: flex;
    align-items: center;
}

/* 
#sobre {
    
    display: flex;
    flex-direction: column;
    /* padding: 100px 25%; */
/* justify-content: center;

    width: 70%;
    margin: 0 auto
} */


h2 {
    font-family: "Dosis";
    font-size: 2.25rem;
    text-align: center;
    margin-bottom: 3rem;
    color: var(--roxo-omp);
}

h3 {
    font-family: "Dosis";
    font-size: 25px;
    text-align: center;

    height: 100%;
    width: 100%;
}

.conteudo-sobre {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.conteudo-sobre img {
    max-width: 28rem;
    flex-direction: column;
    justify-content: left;
}


.texto-sobre {
    width: 40%;
    height: fit-content;
    padding: 2rem;
    box-sizing: border-box;
    border-radius: 1.25rem;
    border: 1px solid var(--laranja-omp);
    background: var(--bege-omp);

    color: var(--laranja-escuro-omp);

    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    font-family: "Inter Tight";
    font-size: 1.5rem;
    line-height: 1.5;
}

#sobre .separador {
    justify-content: flex-start;
    margin: 72px 0;
}

#sobre .patinhas {
    transform: scaleX(-1);
}

#cases {
    text-align: center;

    margin: 20px 0;
    /* Espaçamento externo */
}

#cases h2 {
    font-family: 'Dosis';
    font-size: 2.5rem;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 1rem;
    text-align: left;
}

.bolinhas {
    position: absolute;
    top: -200px;
    left: -50px;
}

.bolinhas svg {
    width: 15rem;
}

.bolinhas:nth-child(1) {
    right: -50px;
    left: unset;
    top: 380px;
}

.container-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin: 124px 0;
    
    position: relative;
}

/* Para mexer no card 1 */
.card,
.card-2,
.card-3 {
    max-width: 23rem;
    min-height: 30rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 2.5rem;

    background-color: var(--laranja-claro-omp);
    border-radius: 1.25rem;
}

.card h2 {
    color: var(--laranja-omp);
}

#cases p {
    color: black;

    font-family: "Inter Tight";
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: left;
}

/* Para mexer no card 2 */
.card-2 {
    transform: translateY(-125px);
    background-color: var(--roxo-claro-omp);
}

.card-2 h2 {
    color: var(--roxo-escuro-omp);
}

/* Para mexer no card 3 */
.card-3 {
    background-color: var(--bege-omp);
}

.card-3 h2 {
    color: var(--laranja-escuro-omp);
}

/* Configurando a parte de duvidas */
#duvidas .container-cards {
    flex-direction: column;
    align-items: normal;

    background-color: var(--roxo-claro-omp);
    border-radius: 1.25rem;
    padding: 6rem;
    gap: 2rem;
    margin: 0%;
}

#duvidas h3 {
    width: 75%;
    font-family: "Dosis";
    font-size: 1.25rem;
    text-align: center;
    color: var(--roxo-escuro-omp);
    margin-bottom: unset;
}

.accordions-line {
    display: flex;
    justify-content: space-between;
}

.faixa {
    width: 28rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 24px;
    
    cursor: pointer;
}

.faixa.active {
    background-color: var(--bege-omp);
    border-radius: 0.625rem;

    transition: 0.5s ease-out;
}

.faixa .question {
    background-color: var(--bege-omp);
    border-radius: 0.625rem;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}

.faixa img  {
    width: 3rem;
    height: auto;
}

.faixa h2 {
    font-size: 1.25rem;
    text-align: left;
    color: var(--roxo-omp);
}

.faixa .content {

}


.answer {
    max-height: 0;
    overflow: hidden;

    /* Animação */
    transition: .5s ease;    
}

.faq.active .answer {
    max-height: 300px;
    animation: fade 0.3s ease-in-out;
}

.answer p {
    padding: 1rem;
    line-height: 1.6;
    font-family: 'Inter Tight';
    font-size: 1rem;
}


@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* Duvidas Formulario */
.confirm-button{
    width: 205px;
    height: 70px;
    background: var(--roxo-omp);
    color: white;
    border-radius: 78px;
    border: none;

    cursor: pointer;
    
    font-family: 'Dosis';
    font-weight: 600;
    font-size: 1.5em;
    
    transition: ease-in-out 300ms;
}

.confirm-button:hover {
    background-color: var(--Paleta-de-Cores-Laranja-Claro, #fbd4ba);
    color: var(--Paleta-de-Cores-Laranja-OMP, #d65f36);

}

.confirm-button:hover svg {
    /* Precisa que esteja em "currentColor" para eu alterar a cor com fill no CSS */
    fill: #d65f36;
}


.contato {
    width: 100%;
    margin: 132px 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contato h2 {
    margin-bottom: 12px;
}

.contato button{
    width: auto;
    padding: 4px 64px;
    background-color: var(--laranja-omp);

    display: flex;
    align-items: center;
    gap: 8px;
}

.cotato button:hover {
    background-color: var(--Paleta-de-Cores-Laranja-Claro, #fbd4ba);
    color: var(--Paleta-de-Cores-Laranja-OMP, #d65f36);
}
